/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Lato', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.content {
  margin-top: 100px;
}

.footercontent {
  margin-top: 20px;
}

.alert {
  font-size: 14px;
  line-height: 150%;
}

a {
  color:#F44336;
}

a:hover {
  color:#D32F2F;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  
}
.highlight {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid red;
}

small {
  font-size: 13px;
}

.breadcrumb {
  background-color: transparent;
  font-size: 13px;
  width: 99%;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

table {
  font-size:14px;
}

label {
  margin-bottom: 10px;
  font-size: 14px;
}

.dropzone {
  border:0px;
  background-color:transparent;
  padding: 0px;
}